[[dependency.hexl]]
skip = false
version = "1.2.1"
name = "1.2.1"
fetch = "git clone https://github.com/intel/hexl.git --branch %version%"
init_fetch_dir = "fetch"
init_build_dir = "build"
init_install_dir = "build"
post-fetch = """cmake -S %init_fetch_dir%/hexl -B %init_build_dir%
               -DCMAKE_INSTALL_PREFIX=%export_install_dir%"""
build = "cmake --build %init_build_dir% -j"
install = "cmake --install %init_install_dir%"
export_install_dir = "install"
export_cmake = "install/lib/cmake/hexl-%version%"


[[dependency.hexl]]
skip = false
version = "1.2.2"
name = "1.2.2"
fetch = "git clone https://github.com/intel/hexl.git --branch %version%"
init_fetch_dir = "fetch"
init_build_dir = "build"
init_install_dir = "build"
pre-build = """cmake -S %init_fetch_dir%/hexl -B %init_build_dir%
               -DCMAKE_INSTALL_PREFIX=%export_install_dir%"""
build = "cmake --build %init_build_dir% -j"
install = "cmake --install %init_install_dir%"
export_install_dir = "install"
export_cmake = "install/lib/cmake/hexl-%version%"


[[dependency.ntl]]
skip = false
version = "11.5.1"
# At mo, can't back sub on name
name = "11.5.1"
init_fetch_dir = "fetch"
init_pre_build_dir = "build"
init_build_dir = "build/ntl-%version%/src"
init_install_dir = "build/ntl-%version%/src"
export_install_dir = "install"
fetch = "wget https://libntl.org/ntl-%version%.tar.gz"
post-fetch = "bash -c 'tar -xvf %init_fetch_dir%/ntl-%version%.tar.gz -C %init_pre_build_dir%'"
build = "bash -c './configure PREFIX=%export_install_dir% && make -j'"
install = "make install"


[[library.helib]]
skip = false
version = "2.2.0"
# At mo, can't back sub on name
name = "v2.2.0"
root = "%name%"
init_fetch_dir = "fetch"
init_build_dir = "build"
init_install_dir = "build"
export_install_dir = "install"
fetch = "git clone https://github.com/homenc/HElib.git --branch %name%"
pre-build = """cmake -S %init_fetch_dir%/HElib -B %init_build_dir% \
               -DCMAKE_INSTALL_PREFIX=%export_install_dir%         \
               -DUSE_INTEL_HEXL=ON                                 \
               -DHEXL_DIR=$%hexl%/export_cmake$"""
build = "cmake --build %init_build_dir% -j"
post-build = ""
install = "cmake --install %init_install_dir%"
# Dependencies
hexl = "hexl/1.2.1"
