# Copyright (C) 2020-2021 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Visual Studio
.vscode/

# Python notebook
.ipynb_checkpoints/

build/
__pycache__
he-benchmarks-venv/

# MacOS
.DS_Store

# Other artifacts
**.tar.gz
docker/libs/
