# Copyright (C) 2020 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Default codeowner for all files
# * @intel/he-toolkit-maintain
* @faberga @kylanerace @jobottle @hamishun @jlhcrawford @skmono @bahattin56
