<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Frontend</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" *ngIf="this.authService.isLoggedIn()"
                        href="#">Dashboard</a>
                </li>
            </ul>
            <ul class="navbar-nav me-2">
                <li class="nav-item">
                    <a type="button" class="btn" *ngIf="this.authService.isLoggedIn()" (click)="logout()">Logout</a>
                    <a type="button" class="btn" *ngIf="router.url === '/login'" href="#/register">Register</a>
                    <a type="button" class="btn" *ngIf="router.url === '/register'" href="#/login">Login</a>

                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
