# Copyright (C) 2022 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

[[hexl]]
skip = false
version = "1.2.3"
name = "v1.2.3"
fetch = "git clone https://github.com/intel/hexl.git --branch v%version%"
init_fetch_dir = "fetch"
init_build_dir = "build"
init_install_dir = "build"
pre-build = """cmake -S %init_fetch_dir%/hexl -B %init_build_dir%
               -DCMAKE_INSTALL_PREFIX=%export_install_dir%
               -DHEXL_BENCHMARK=OFF
               -DHEXL_TESTING=OFF"""
build = "cmake --build %init_build_dir% -j"
install = "cmake --install %init_install_dir%"
export_install_dir = "install"
export_cmake = "install/lib/cmake/hexl-%version%"


[[ntl]]
skip = false
version = "11.5.1"
name = "v11.5.1"
init_fetch_dir = "fetch"
init_pre_build_dir = "build"
init_build_dir = "build/ntl-%version%/src"
init_install_dir = "build/ntl-%version%/src"
fetch = "wget https://libntl.org/ntl-%version%.tar.gz"
post-fetch = "bash -c 'tar -xvf %init_fetch_dir%/ntl-%version%.tar.gz -C %init_pre_build_dir%'"
build = "bash -c './configure NTL_GMP_LIP=on NTL_THREADS=on NTL_THREAD_BOOST=on TUNE=generic PREFIX=%export_install_dir% && make -j'"
install = "make install"
export_install_dir = "install"


[[helib]]
skip = false
version = "v2.2.1"
name = "v2.2.1"
root = "%name%"
init_fetch_dir = "fetch"
init_build_dir = "build"
init_install_dir = "build"
export_install_dir = "install"
fetch = "git clone https://github.com/homenc/HElib.git --branch %version%"
pre-build = """cmake -S %init_fetch_dir%/HElib -B %init_build_dir%
               -DCMAKE_INSTALL_PREFIX=%export_install_dir%
               -DNTL_DIR=$%ntl%/export_install_dir$
               -DUSE_INTEL_HEXL=ON
               -DCMAKE_CXX_COMPILER=/pathto/g++
               -DCMAKE_C_COMPILER=/pathto/gcc
               -DNTL_DIR=$%ntl%/export_install_dir$
               -DHEXL_DIR=$%hexl%/export_cmake$"""
build = "cmake --build %init_build_dir% -j"
post-build = ""
install = "cmake --install %init_install_dir%"
export_cmake = "install/share/cmake/helib"
# Dependencies
ntl = "ntl/v11.5.1"
hexl = "hexl/v1.2.3"


[[examples]]
skip = false
name = "psi"
fetch = ""
init_fetch_dir = ""
src_dir = "!toolkit-path!/he-samples/examples/psi"
init_build_dir = "build"
pre-build = """cmake -S %src_dir% -B %init_build_dir%
               -Dhelib_DIR=$%helib%/export_cmake$"""
build = "cmake --build %init_build_dir% -j"
post-build = ""
init_install_dir = ""
install = ""
# Dependencies
helib = "helib/v2.2.1"
