# Copyright (C) 2022 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

[[hexl]]
skip = false
version = "1.2.3"
name = "1.2.3"
fetch = "git clone https://github.com/intel/hexl.git --branch %version%"
init_fetch_dir = "fetch"
init_build_dir = "build"
init_install_dir = "build"
pre-build = """cmake -S %init_fetch_dir%/hexl -B %init_build_dir%
               -DCMAKE_INSTALL_PREFIX=%export_install_dir%
               -DHEXL_BENCHMARK=OFF
               -DHEXL_TESTING=OFF"""
build = "cmake --build %init_build_dir% -j"
install = "cmake --install %init_install_dir%"
export_install_dir = "install"
export_cmake = "install/lib/cmake/hexl-%version%"


[[palisade]]
skip = false
version = "1.11.6"
name = "v1.11.6"
root = "%name%"
init_fetch_dir = "fetch"
init_build_dir = "build"
init_install_dir = "build"
export_install_dir = "install"
fetch = "git clone https://gitlab.com/palisade/palisade-release.git --branch %name%"
pre-build = """cmake -S %init_fetch_dir%/palisade-release -B %init_build_dir%
               -DCMAKE_INSTALL_PREFIX=%export_install_dir%
               -DBUILD_UNITTESTS=OFF
               -DBUILD_EXAMPLES=OFF
               -DBUILD_BENCHMARKS=OFF
               -DWITH_INTEL_HEXL=ON
               -DINTEL_HEXL_PREBUILT=ON
               -DINTEL_HEXL_HINT_DIR=$%hexl%/export_cmake$"""
build = "cmake --build %init_build_dir% -j"
post-build = ""
install = "cmake --install %init_install_dir%"
export_cmake = "install/lib/Palisade"
# Dependencies
hexl = "hexl/1.2.3"


[[sample-kernels]]
skip = false
name = "palisade"
fetch = ""
init_fetch_dir = ""
src_dir = "!toolkit-path!/he-samples/sample-kernels"
init_build_dir = "build"
pre-build = """cmake -S %src_dir% -B %init_build_dir%
               -DENABLE_PALISADE=ON
               -DPalisade_DIR=$%palisade%/export_cmake$
               -DHEXL_DIR=$%hexl%/export_cmake$"""
build = "cmake --build %init_build_dir% -j"
post-build = ""
install = ""
# Dependencies
palisade = "palisade/v1.11.6"
hexl = "hexl/1.2.3"
