<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="inputUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="inputUsername" aria-describedby="usernameHelp"
            formControlName="username">
    </div>
    <div class="mb-3">
        <label for="inputEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" formControlName="email">
    </div>
    <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" formControlName="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
