# Copyright (C) 2021 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

name: he-toolkit
on:
  # By default this will run when the activity type is "opened", "synchronize",
  # or "reopened".
  pull_request:
    branches:
      - main
  # Manually run this workflow on any specified branch.
  workflow_dispatch:

###################
# Define env vars #
###################
env:
  HEXL_VER: 1.2.1
  HEXL_DIR: ${GITHUB_WORKSPACE}/hexl-install/lib/cmake/hexl-${HEXL_VER}

################
# Ubuntu 20.04 #
################
jobs:
  format:
    name: Format
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      # Required for pre-commit
      - run: pip3 install cpplint
      - run: sudo snap install shfmt
      - run: sudo apt install shellcheck
      # NOTE: This is deprecated in favor of pre-commit.ci
      - uses: pre-commit/action@v2.0.2
        with:
          extra_args: --all-files

  docker-build:
    name: Docker build
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash
        working-directory: he-toolkit/docker
    steps:
      - uses: actions/checkout@v2
      - name: Validate paths
        run: |
          whoami
          echo $HOME
          echo $GITHUB_WORKSPACE
          echo "Testing from branch:"
          echo $GITHUB_REF
          pwd
      - name: Setup Docker
        run: |
          ./setup_and_run_docker.sh

  build-and-test:
    name: Build, test and run kernels
    needs: [format]
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash
        working-directory: he-samples
    steps:
      - uses: actions/checkout@v2
      - name: Validate paths
        run: |
          whoami
          echo $HOME
          echo $GITHUB_WORKSPACE
          echo "Testing from branch:"
          echo $GITHUB_REF
          pwd

      # Install GMP and NTL
      - name: Install GMP and NTL
        run: |
          sudo apt-get install -y libgmp-dev
          sudo apt-get install -y libntl-dev

      # Build and install HEXL 1.2.1 for HElib
      - name: Install HEXL (for HElib)
        run: |
          git clone https://github.com/intel/hexl.git -b v${{ env.HEXL_VER }}
          cd hexl
          cmake -S . -B build -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/hexl-install
          cmake --build build -j
          cmake --install build

      # Build toolkit
      - name: Build the repository
        run: |
          cmake -S . -B build -DCMAKE_CXX_COMPILER=clang++-10 -DCMAKE_C_COMPILER=clang-10 -DCMAKE_BUILD_TYPE=Release -DINTEL_HEXL_HINT_DIR=${{ env.HEXL_DIR }}
          cmake --build build --target all -j

      # Unit tests and examples
      - name: Run the unit tests
        run: ./build/sample-kernels/test/unit-test
      - name: Run secure query example
        run: |
          cd build/examples/secure-query
          echo -n "Input: Arkansas, " && ./secure-query <<< $'\n\nArkansas\n' | grep "Little Rock"
          echo -n "Input: New Mexico, " && ./secure-query <<< $'\n\nNew Mexico\n' | grep "Santa Fe"
          echo -n "Input: California, " && ./secure-query <<< $'\n\nCalifornia\n' | grep "Sacramento"
      - name: Run LR example
        run: |
          cd build/examples/logistic-regression
          ./lr_test --docompare --data lrtest_large | grep "All match!"

      # PALISADE sample kernels
      - name: Run PALISADE sample kernels
        run: KMP_WARNINGS=0 OMP_NUM_THREADS=5 ./build/sample-kernels/sample-kernels-palisade --benchmark_out_format=json --benchmark_out="${GITHUB_JOB}_sample-kernels-palisade_${GITHUB_SHA}.json"
      - name: Archive PALISADE sample kernel results
        uses: actions/upload-artifact@v2
        with:
          name: ${{github.job}}_sample-kernels-palisade_${{github.sha}}.json
          path: he-samples/${{github.job}}_sample-kernels-palisade_${{github.sha}}.json
          retention-days: 90 # Maximum for free version

      # SEAL sample kernels
      - name: Run SEAL sample kernels
        run: KMP_WARNINGS=0 OMP_NUM_THREADS=5 ./build/sample-kernels/sample-kernels-seal --benchmark_out_format=json --benchmark_out="${GITHUB_JOB}_sample-kernels-seal_${GITHUB_SHA}.json"
      - name: Archive SEAL sample kernel results
        uses: actions/upload-artifact@v2
        with:
          name: ${{github.job}}_sample-kernels-seal_${{github.sha}}.json
          path: he-samples/${{github.job}}_sample-kernels-seal_${{github.sha}}.json
          retention-days: 90 # Maximum for free version

##############
# IceLake CI #
##############
  format-icelake:
    name: Format (IceLake)
    runs-on: [self-hosted, Linux, X64, ice-lake]
    steps:
      - uses: actions/checkout@v2
        # Add local bin for cpplint
      - name: Setup
        run: echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: pre-commit
        run: pre-commit run --all-files

  build-and-test-icelake:
    name: Build, test and run kernels (IceLake - Excl. HElib)
    needs: [format-icelake]
    runs-on: [self-hosted, Linux, X64, ice-lake]
    defaults:
      run:
        shell: bash
        working-directory: he-samples
    steps:
      - uses: actions/checkout@v2
      - name: Validate paths
        run: |
          whoami
          echo $HOME
          echo $GITHUB_WORKSPACE
          echo "Testing from branch:"
          echo $GITHUB_REF
          pwd

      # Build toolkit (Excl. HElib)
      - name: Build the repository
        run: |
          cmake -S . -B build -DCMAKE_CXX_COMPILER=clang++-10 -DCMAKE_C_COMPILER=clang-10 -DCMAKE_BUILD_TYPE=Release -DENABLE_HELIB=OFF
          cmake --build build --target all -j

      # Unit tests and examples
      - name: Run the unit tests
        run: ./build/sample-kernels/test/unit-test
      - name: Run secure query example
        run: |
          cd build/examples/secure-query
          echo -n "Input: Louisiana, " && ./secure-query <<< $'\n\nLouisiana\n' | grep "Baton Rouge"
          echo -n "Input: North Dakota, " && ./secure-query <<< $'\n\nNorth Dakota\n' | grep "Bismarck"
          echo -n "Input: Wyoming, " && ./secure-query <<< $'\n\nWyoming\n' | grep "Cheyenne"
      - name: Run LR example
        run: |
          cd build/examples/logistic-regression
          ./lr_test --docompare --data lrtest_large | grep "All match!"

      # PALISADE sample kernels
      - name: Run PALISADE sample kernels
        run: KMP_WARNINGS=0 OMP_NUM_THREADS=5 ./build/sample-kernels/sample-kernels-palisade --benchmark_out_format=json --benchmark_out="${GITHUB_JOB}_sample-kernels-palisade_${GITHUB_SHA}.json"
      - name: Archive PALISADE sample kernel results
        uses: actions/upload-artifact@v2
        with:
          name: ${{github.job}}_sample-kernels-palisade_${{github.sha}}.json
          path: he-samples/${{github.job}}_sample-kernels-palisade_${{github.sha}}.json
          retention-days: 90 # Maximum for free version

      # SEAL sample kernels
      - name: Run SEAL sample kernels
        run: KMP_WARNINGS=0 OMP_NUM_THREADS=5 ./build/sample-kernels/sample-kernels-seal --benchmark_out_format=json --benchmark_out="${GITHUB_JOB}_sample-kernels-seal_${GITHUB_SHA}.json"
      - name: Archive SEAL sample kernel results
        uses: actions/upload-artifact@v2
        with:
          name: ${{github.job}}_sample-kernels-seal_${{github.sha}}.json
          path: he-samples/${{github.job}}_sample-kernels-seal_${{github.sha}}.json
          retention-days: 90 # Maximum for free version

  build-helib-icelake:
    name: Build HElib with HEXL (Icelake)
    needs: [format-icelake]
    runs-on: [self-hosted, Linux, X64, ice-lake]
    defaults:
      run:
        shell: bash
        working-directory: he-samples
    steps:
      - uses: actions/checkout@v2

      # Build and install HEXL
      - name: Build and install HEXL
        run: |
          git clone https://github.com/intel/hexl.git -b v${{ env.HEXL_VER }}
          cd hexl
          cmake -S . -B build -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/hexl-install
          cmake --build build -j
          cmake --install build

      # Build the toolkit with only HElib and HEXL
      - name: Build HElib
        run: |
          cmake -S . -B build -DCMAKE_CXX_COMPILER=clang++-10 -DCMAKE_C_COMPILER=clang-10 -DCMAKE_BUILD_TYPE=Release -DENABLE_SEAL=OFF -DENABLE_PALISADE=OFF -DENABLE_HELIB=ON -DENABLE_INTEL_HEXL=ON -DINTEL_HEXL_HINT_DIR=${{ env.HEXL_DIR }}
          cmake --build build --target all -j
