# Copyright (C) 2021 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

name: Build and Test
on:
  # By default this will run when the activity type is "opened", "synchronize",
  # or "reopened".
  pull_request:
    branches:
      - main
      - v2.0-rc # Run on release candidate for v2.0.0
  # Run when protected branches are pushed to, e.g. via merge
  push:
    branches:
      - main
  # Manually run this workflow on any specified branch.
  workflow_dispatch:

###################
# Define env vars #
###################
env:
  HEXL_VER: 1.2.3
  SEAL_VER: 3.7.2
  PALISADE_VER: 1.11.6
  HELIB_VER: 2.2.1
  HEKIT_DIR: ~/.hekit/components
  HEXL_DIR: ${HEKIT_DIR}/hexl/${HEXL_VER}/lib/cmake/hexl-${HEXL_VER}
  SEAL_DIR: ${HEKIT_DIR}/seal/v${SEAL_VER}/install/lib/cmake/SEAL-3.7
  PALISADE_DIR: ${HEKIT_DIR}/palisade/v${PALISADE_VER}/install/lib/Palisade
  HELIB_DIR: ${HEKIT_DIR}/helib/v${HELIB_VER}/share/cmake/helib
  GSL_DIR: ${HEKIT_DIR}/gsl/v3.1.0/install/share/cmake/Microsoft.GSL
  ZSTD_DIR: ${HEKIT_DIR}/zstd/v1.4.5/install/lib/cmake/zstd

################
# Ubuntu 20.04 #
################
jobs:
  format:
    name: Format
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      # Required for pre-commit
      - run: pip3 install cpplint pylint mypy types-toml docker
      - run: sudo snap install shfmt
      - run: sudo apt install shellcheck black
      # NOTE: This is deprecated in favor of pre-commit.ci
      - uses: pre-commit/action@v2.0.3
        with:
          extra_args: --all-files

  test-hekit:
    name: Test hekit commands
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v2
      - name: Setup
        run: |
          pip3 install pytest pytest-mock toml docker
          echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: Run pytests
        run: pytest tests/

  build-and-test-toolkit-palisade:
    name: Build, test and run PALISADE dependent HE Toolkit
    if: ${{ false }} # Disable this job for now as it fails due to HEXL-PALISADE issue
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v2
      - name: Setup
        run: |
          pip3 install toml
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Init hekit
        run: |
          mkdir -p ~/.hekit
          cp default.config ~/.hekit/default.config

      - name: Build and install PALISADE and sample kernels recipe
        run: |
          HEKITPATH=. ./hekit install .github/hekit-recipes/palisade.toml --recipe_arg "toolkit-path=${GITHUB_WORKSPACE}"
          HEKITPATH=. ./hekit list
          echo "PALISADE_KERNELS_BUILD_DIR=$HOME/.hekit/components/sample-kernels/palisade/build" >> $GITHUB_ENV

      - name: Run unit tests
        run: ${PALISADE_KERNELS_BUILD_DIR}/test/unit-test

      # PALISADE sample kernels
      - name: Run PALISADE sample kernels
        run: KMP_WARNINGS=0 OMP_NUM_THREADS=5 ${PALISADE_KERNELS_BUILD_DIR}/sample-kernels-palisade --benchmark_out_format=json --benchmark_out="${GITHUB_JOB}_sample-kernels-palisade_${GITHUB_SHA}.json"
      - name: Archive PALISADE sample kernel results
        uses: actions/upload-artifact@v2
        with:
          name: ${{github.job}}_sample-kernels-palisade_${{github.sha}}.json
          path: ${{github.job}}_sample-kernels-palisade_${{github.sha}}.json
          retention-days: 90 # Maximum for free version

  build-and-test-toolkit-helib:
    name: Build, test and run HElib dependent HE Toolkit
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v2
      - name: Setup
        run: |
          pip3 install toml
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Init hekit
        run: |
          mkdir -p ~/.hekit
          cp default.config ~/.hekit/default.config

      - name: Build and install HElib and example recipe
        run: |
          HEKITPATH=. ./hekit install .github/hekit-recipes/helib.toml --recipe_arg "toolkit-path=${GITHUB_WORKSPACE}"
          HEKITPATH=. ./hekit list
          echo "PSI_BUILD_DIR=$HOME/.hekit/components/examples/psi/build" >> $GITHUB_ENV

      - name: Run PSI example
        run: |
          echo -e "apple\nBanana\ncat\nBa-Ra\nCalifornia" > client.set
          ${PSI_BUILD_DIR}/psi client.set --server ${PSI_BUILD_DIR}/datasets/fruits.set | grep -B 1 "apple"
          ${PSI_BUILD_DIR}/psi client.set --server ${PSI_BUILD_DIR}/datasets/ancient_egyptian_gods.set | grep -B 1 "Ba-Ra"
          ${PSI_BUILD_DIR}/psi client.set --server ${PSI_BUILD_DIR}/datasets/us_states.set | grep -B 1 "California"

  build-and-test-toolkit-seal:
    name: Build, test and run SEAL dependent HE Toolkit
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v2
      - name: Setup
        run: |
          pip3 install toml
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Init hekit
        run: |
          mkdir -p ~/.hekit
          cp default.config ~/.hekit/default.config

      - name: Build and install SEAL, examples, and sample kernels recipe
        run: |
          HEKITPATH=. ./hekit install .github/hekit-recipes/seal.toml --recipe_arg "toolkit-path=${GITHUB_WORKSPACE}"
          HEKITPATH=. ./hekit list
          echo "QUERY_BUILD_DIR=$HOME/.hekit/components/examples/secure-query/build" >> $GITHUB_ENV
          echo "LR_BUILD_DIR=$HOME/.hekit/components/examples/logistic-regression/build" >> $GITHUB_ENV
          echo "SEAL_KERNELS_BUILD_DIR=$HOME/.hekit/components/sample-kernels/seal/build" >> $GITHUB_ENV

      - name: Run Secure Query example
        run: |
          cd ${QUERY_BUILD_DIR}
          echo -n "Input: Louisiana, " && ./secure-query <<< $'\n\nLouisiana\n' | grep "Baton Rouge"
          echo -n "Input: North Dakota, " && ./secure-query <<< $'\n\nNorth Dakota\n' | grep "Bismarck"
          echo -n "Input: Wyoming, " && ./secure-query <<< $'\n\nWyoming\n' | grep "Cheyenne"

      - name: Run LR example
        run: |
          cd ${LR_BUILD_DIR}
          ./lr_test --compare --data lrtest_large | grep "All match!"

      - name: Run unit tests
        run: ${SEAL_KERNELS_BUILD_DIR}/test/unit-test

      # SEAL sample kernels
      - name: Run SEAL sample kernels
        run: KMP_WARNINGS=0 OMP_NUM_THREADS=5 ${SEAL_KERNELS_BUILD_DIR}/sample-kernels-seal --benchmark_out_format=json --benchmark_out="${GITHUB_JOB}_sample-kernels-seal_${GITHUB_SHA}.json"
      - name: Archive SEAL sample kernel results
        uses: actions/upload-artifact@v2
        with:
          name: ${{github.job}}_sample-kernels-seal_${{github.sha}}.json
          path: ${{github.job}}_sample-kernels-seal_${{github.sha}}.json
          retention-days: 90 # Maximum for free version


##############
# IceLake CI #
##############
  format-icelake:
    name: Format (IceLake)
    runs-on: [self-hosted, Linux, X64, ice-lake]
    steps:
      - uses: actions/checkout@v2
        # Add local bin for cpplint
      - name: Setup
        run: echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: pre-commit
        run: pre-commit run --all-files

  test-hekit-icelake:
    name: Test hekit commands (IceLake)
    runs-on: [self-hosted, Linux, X64, ice-lake]
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v2
        # Add local bin for pytest
      - name: Setup
        run: echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: Run pytests
        run: pytest tests/

  build-and-test-toolkit-icelake:
    name: Build, test and run HE Toolkit (IceLake)
    runs-on: [self-hosted, Linux, X64, ice-lake]
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v2
        # Add local bin for pip modules
      - name: Setup
        run: echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Init hekit
        run: |
          mkdir -p ~/.hekit
          cp default.config ~/.hekit

      - name: Build and install default recipe
        run: |
          HEKITPATH=. ./hekit install recipes/default.toml
          HEKITPATH=. ./hekit list

      - name: Build examples
        run: |
          HEKITPATH=. ./hekit build recipes/examples.toml --recipe_arg "toolkit-path=${GITHUB_WORKSPACE}"
          HEKITPATH=. ./hekit list
          echo "PSI_BUILD_DIR=$HOME/.hekit/components/examples/psi/build" >> $GITHUB_ENV
          echo "QUERY_BUILD_DIR=$HOME/.hekit/components/examples/secure-query/build" >> $GITHUB_ENV
          echo "LR_BUILD_DIR=$HOME/.hekit/components/examples/logistic-regression/build" >> $GITHUB_ENV

      - name: Run PSI example
        run: |
          echo -e "apple\nBanana\ncat\nBa-Ra\nCalifornia" > client.set
          ${PSI_BUILD_DIR}/psi client.set --server ${PSI_BUILD_DIR}/datasets/fruits.set | grep -B 1 "apple"
          ${PSI_BUILD_DIR}/psi client.set --server ${PSI_BUILD_DIR}/datasets/ancient_egyptian_gods.set | grep -B 1 "Ba-Ra"
          ${PSI_BUILD_DIR}/psi client.set --server ${PSI_BUILD_DIR}/datasets/us_states.set | grep -B 1 "California"

      - name: Run Secure Query example
        run: |
          cd ${QUERY_BUILD_DIR}
          echo -n "Input: Louisiana, " && ./secure-query <<< $'\n\nLouisiana\n' | grep "Baton Rouge"
          echo -n "Input: North Dakota, " && ./secure-query <<< $'\n\nNorth Dakota\n' | grep "Bismarck"
          echo -n "Input: Wyoming, " && ./secure-query <<< $'\n\nWyoming\n' | grep "Cheyenne"

      - name: Run LR example
        run: |
          cd ${LR_BUILD_DIR}
          ./lr_test --compare --data lrtest_large | grep "All match!"

      - name: Build sample kernels
        run: |
          HEKITPATH=. ./hekit build recipes/sample-kernels.toml --recipe_arg "toolkit-path=${GITHUB_WORKSPACE}"
          HEKITPATH=. ./hekit list
          echo "SEAL_KERNELS_BUILD_DIR=$HOME/.hekit/components/sample-kernels/seal/build" >> $GITHUB_ENV
          echo "PALISADE_KERNELS_BUILD_DIR=$HOME/.hekit/components/sample-kernels/palisade/build" >> $GITHUB_ENV

      - name: Run unit tests
        run: |
          ${SEAL_KERNELS_BUILD_DIR}/test/unit-test
          ${PALISADE_KERNELS_BUILD_DIR}/test/unit-test

      # PALISADE sample kernels
      - name: Run PALISADE sample kernels
        run: KMP_WARNINGS=0 OMP_NUM_THREADS=5 ${PALISADE_KERNELS_BUILD_DIR}/sample-kernels-palisade --benchmark_out_format=json --benchmark_out="${GITHUB_JOB}_sample-kernels-palisade_${GITHUB_SHA}.json"
      - name: Archive PALISADE sample kernel results
        uses: actions/upload-artifact@v2
        with:
          name: ${{github.job}}_sample-kernels-palisade_${{github.sha}}.json
          path: ${{github.job}}_sample-kernels-palisade_${{github.sha}}.json
          retention-days: 90 # Maximum for free version

      # SEAL sample kernels
      - name: Run SEAL sample kernels
        run: KMP_WARNINGS=0 OMP_NUM_THREADS=5 ${SEAL_KERNELS_BUILD_DIR}/sample-kernels-seal --benchmark_out_format=json --benchmark_out="${GITHUB_JOB}_sample-kernels-seal_${GITHUB_SHA}.json"
      - name: Archive SEAL sample kernel results
        uses: actions/upload-artifact@v2
        with:
          name: ${{github.job}}_sample-kernels-seal_${{github.sha}}.json
          path: ${{github.job}}_sample-kernels-seal_${{github.sha}}.json
          retention-days: 90 # Maximum for free version

  # Cleanup .hekit directory after build and test job finishes
  cleanup:
    name: Cleanup
    runs-on: [self-hosted, Linux, X64, ice-lake]
    needs: [build-and-test-toolkit-icelake]
    if: always()
    steps:
      - run: HEKITPATH=. ./hekit remove --all -y
